@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: "Virgil";
    src: url(Virgil.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Virgil, sans-serif;
    font-size: 100%;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatRoomsSection {

}

.chatRoomCard {
    display: inline-block;
}


