<!DOCTYPE html>
<html lang="en">
<head xmlns:th="https://www.thymeleaf.org/">
    <link rel="stylesheet" href="/stylesheets/chatStyle.css">
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a>Test notifikace</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="chat">
            <div class="scroll">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.
            </div>
        </div>
        <div class="actionBar">
            <form class="actionBarForm">
                <input class="actionBarTextField" type="text" name="message">
                <button class="submitButton" type="submit" name="sendMessage"><i class="bi bi-send-fill"></i></button>
            </form>
        </div>
    </div>
</body>
</html>