<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="/stylesheets/chatStyle.css">
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body >
    <div class="wrapper">
        <div class="navbar">
            <a href="#">Notifikace</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="chat" class="chat">

            <div th:each="message : ${messages}" th:attr="class=${message.getUser().getName() == loggedUserName ? 'chatCard card-align-right' : 'chatCard card-align-left'}">
                <div th:if="${message.getUser().getName() != loggedUserName}" class="chatCardUserContainer">
                    <span class="chatCardUserText" th:text="${message.getUser().getName()}"></span>
                </div>
                <div th:attr="class=${message.getUser().getName() == loggedUserName ? 'chatCardBackground chatCardBackgroundMe' : 'chatCardBackground chatCardBackgroundAnotherUser'}">
                    <div class="chatCardTextContainer">
                        <span class="chatCardText" th:text="${message.getText()}"></span>
                    </div>
                    <div class="chatCardDateTimeContainer">
                        <span class="chatCardDateTime">12.12.2023 10:48</span>
                    </div>
                </div>
            </div>

            <template id="eventMessage">
                <div class="chatCard card-align-left">
                    <div class="chatCardUserContainer">
                        <span class="chatCardUserText"></span>
                    </div>
                    <div class="chatCardBackground chatCardBackgroundAnotherUser">
                        <div class="chatCardTextContainer">
                            <span class="chatCardText"></span>
                        </div>
                        <div class="chatCardDateTimeContainer">
                            <span class="chatCardDateTime">13.12.2023 03:15</span>
                        </div>
                    </div>
                </div>
            </template>

        </div>
        <div class="actionBar">
            <form th:action="@{/addMessage}" method="post" class="actionBarForm">
                <input class="actionBarTextField" type="text" name="message">
                <button class="submitButton" type="submit" name="sendMessage"><i class="bi bi-send-fill"></i></button>
            </form>
        </div>
    </div>

    <script>
        const eventSource = new EventSource("/sse");

        eventSource.onmessage = (event) => {
            const receivedMessage = JSON.parse(event.data);

            const template = document.querySelector("#eventMessage");
            const clone = template.content.cloneNode(true);
            clone.querySelector(".chatCardUserText").textContent = receivedMessage.msgUserName;
            clone.querySelector(".chatCardText").textContent = receivedMessage.msgText;
            document.querySelector("#chat").prepend(clone);
        };

        eventSource.onerror = (error) => {
            console.error("Error occurred:", error);
            eventSource.close();
        };
    </script>
</body>
</html>