<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Skytale</title>
    <link rel="stylesheet" href="/stylesheets/mainPage.css">
</head>
<body>
    <header>
        <h1>Skytale</h1>
        <a href="/logout">Logout</a>
    </header>
    <main>
        <section class="chatRoomsSection">
            <div class="chatRoomsContainer">
                <div th:each="chatroom : ${chatrooms}" class="chatRoomCard">
                    <p th:text="${chatroom.getName()}"></p>
                    <iframe width="360" height="215" th:src="@{'/' + ${chatroom.getId()}}"></iframe>
                </div>
            </div>
        </section>
    </main>
</body>
</html>